<div class="container">
    <h1><%= @blog.title %></h1>
    <%= image_tag @blog.image %>
    <p><%= @blog.content %></p>
    <br>
    <div class="d-grid gap-2 d-md-block">
        <button class="btn btn-outline-dark"><a  href="/blogs/<%= @blog.id %>/edit" role="button" data-bs-toggle="button">Edit</a></button>
        <%= button_to "Delete", @blog, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-dark"%></button>
    </div>
</div>